body {
	font-family: 'Liberation Sans', 'Arial', sans-serif;
	font-size: 12px;
}

table {
	border: 5px solid #0099FF;
	border-spacing: 0;
	background-color: #FAFAFA;
	margin: 20px;
	border-radius: 5px;
}
th {
	font-size: 14px;
	font-weight: bold;
	text-align: left;
	border: 1px solid #C0C0C0;
	background-color: #E0E0E0;
}
td {
	border: 1px solid #C0C0C0;
	padding: 2px 4px 2px 4px;
}
td:nth-child(1) {
	font-family: sans-serif;
	font-weight: bold;
	color: blue;
}
td:nth-child(2) {
}
td:nth-child(3) {
}